@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.game-instructions {
  width: 100%;
  display: grid;
  height: 280px;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

.projector-screen{
  width: 320px;
  height: 240px;
  border: var(--border);
  justify-self: center;
  position: relative;
  overflow: hidden;
}

.slide-container{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: grid;
  grid-template-columns: 320px 320px 160px 0px 0px 320px 320px;
  transition: all 1s;
}

.slide{
  height: 240px;

}

.slide-controls{
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.slide-instruction, 
.slide-instruction-secondary{
  text-align: center;
}

.slide-controls > button{
  padding: 5px;
  color: white;
  height: 30px;
  width: 105px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  border: var(--border);
  border-radius: 5px;
}

.prev-slide-btn{
  background-color: var(--bg-accent-light);
  gap: 5px;
  margin-right: 5px;
}

.next-slide-icon,
.prev-slide-icon{
  width: 20px;
  height: 20px;
}
.next-slide-btn{
  background-color: rgb(0, 100, 0);
  margin-left: 5px;
}

.hide-slideshow-btn{
  min-width: 120px;
}

.HOW-TO-PLAY{
  min-width: 160px;
}

.instructions-placeholder{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.show-slideshow{
  width: 15px;
  height: 15px;
  align-self: center;
  justify-self: center;
}

.click-shield-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: calc(100% - var(--topOffset));
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.8);
}

.click-shield-bottom {
  position: fixed;
  top: var(--bottomOffset);
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.8);
}