.slide-4 {
  background-color: #e5e5e5;
  position: relative;
  color: white;
  width: 0px;
}

.slide-4 .slide-instruction{
  position: absolute;
  width: 320px;
  top: 90px;
  transition: 1s ease-in-out;
}