.slide-2 {
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.slide-2 .example-arrows {
  display: flex;
  gap: 65px;
  position: absolute;
  right: 163px;
  top: 84px;
  visibility: hidden; /* see extraSlideAnimations.js */
  animation: drop-in 1.5s ease-in-out;
  animation-play-state: paused;
}

.slide-2 .forwards-arrows-container,
.slide-2 .backwards-arrows-container{
  transition: all 1.5s ease-in-out;
}

@keyframes drop-in {
  0% {
    transform: translateY(-200px);
  }

  100% {
    transform: translateY(0px);
  }
}

.example-arrows .forwards-arrows,
.example-arrows .backwards-arrows {
  width: 48px;
  
}

.slide-2 .slide-instruction {
  text-align: center;
  animation-delay: 1s;
  transition: all .5s ease-in-out;
}

/* @keyframes fly-up {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-200px);
  }
} */


