.available-stations {
  display: grid;
  padding: 0.4rem;
  background-color: var(--bg-accent);
  border-top: var(--border);
  border-bottom: var(--border);
  border-radius: var(--border-radius);
  width: 100vw;
}

.available-stations-signs {
  display: grid;
  gap: 0.2rem;
  max-height: 62vh;
  overflow-y: auto;
}

@media (min-width: 767px) {
  .available-stations-signs {
    grid-template-columns: repeat(2, minmax(320px, 500px));
  }
}

@media (max-width: 766px) {
  .available-stations-signs {
    grid-template-columns: 1fr;
  }
}

.station-search {
  width: 50%;
  justify-self: center;
  height: 25px;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
  margin-bottom: 5px;
}
