.available-stations{
  display: grid;
  padding: .4rem;
}

.available-stations-signs {
  display: grid;
  gap: .4rem;
}

@media (min-width: 640px)  {
  .available-stations-signs {
    grid-template-columns: repeat(2, minmax(320px, 500px));
  }
}

@media (max-width: 639px) {
  .available-stations-signs {
    grid-template-columns: 1fr;
  }
}

.station-search{
  width: 75%;
  justify-self: center;
}