.dropdown {
    position: absolute;
    top: 35px;
    right: -5px;
    width: 300px;
    background-color: var(--bg-accent);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 1rem;
    overflow: hidden;
  }
  
  .menu-item {
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    transition: background var(--speed);
    padding: 0.5rem;
  }
  
  .menu-item:hover {
    background-color: var(--bg-accent-light);
  }
  
  .menu {
    width: 100%;
  }
  
  .menu-primary-enter {
    position: absolute;
    transform: translateX(110%);
  }
  .menu-primary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
  }
  .menu-primary-exit {
    position: absolute;
  }
  .menu-primary-exit-active {
    transform: translateX(110%);
    transition: all var(--speed) ease;
  }
  
  .menu-secondary-enter {
    transform: translateX(-110%);
  }
  .menu-secondary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
  }
  .menu-secondary-exit {
    position: absolute;
  }
  .menu-secondary-exit-active {
    transform: translateX(-110%);
    transition: all var(--speed) ease;
  }


    .menu-tertiary-enter {
    transform: translateX(-220%);
  }
  .menu-tertiary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
  }
  /* .menu-tertiary-exit {
  } */
  .menu-tertiary-exit-active {
    transform: translateX(-220%);
    transition: all var(--speed) ease;
  }