@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  #1e1e1e;
    color: rgba(255, 255, 255, 0.87);
    height: 50px;
    margin-bottom: 10px;
    padding: 1rem;
    flex: 1;
  }

  .header-train-image{
    height: 80px;
  }
  
  .site-title{
    font-family: 'Montserrat', sans-serif;
    max-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .site-title.line{

  }

  .site-title .legend{
    text-decoration: underline #79B5B5;
  }

  .site-title > div{
    font-size: 1.5rem;
    font-weight: 700;
  }

  .site-title > span{
    font-size: 1.2rem;
    font-weight: 400;
    color: #79B5B5;
  }

  .header-left{
    display: flex;
    align-items: center;
  }

  .header-right{
    display: flex;
    gap: 1rem;
  }
