@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  #1e1e1e;
    color: rgba(255, 255, 255, 0.87);
    height: 50px;
    padding: 1rem 0rem 1rem 1rem;
    flex: 1;
    border-bottom: var(--border);
  }

  .header-train-image{
    height: 80px;
  }
  
  .site-title{
    font-family: 'Montserrat', sans-serif;
    max-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .site-title .legend{
    text-decoration: underline #79B5B5;
  }

  .site-title > div{
    font-size: clamp(1.5rem, 3vw, 1.5rem);
    font-weight: 700;
  }


  .header-left{
    display: flex;
    align-items: center;
  }

  @media screen and (max-width: 620px) {
    .header-train-image{
      width: 0px;
      height: 0px;
    }
  }
    
  


