* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  height: 100%;
  max-height: 100vh;
}

:root {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  display: flex;
  justify-content: center;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --bg: #242424;
  --bg-accent: #1e1e1e;
  --bg-accent-light:rgb(59, 59, 59) ;
  --text-color: rgba(255, 255, 255, 0.87);
  --window-color:  #79B5B5;
  --nav-size: 50px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;

  color: var(--text-color);
  background-color: var(--bg);
  max-height: 100vh;
}

.japanese{
  font-family: 'Noto Sans JP', sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.App {
  display: grid;
}