
.main-station{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    border-radius: 8px;
    margin: 1px;
    height: 60px;
    width: 48px;
    line-height: 100%;
    background: black;
    text-align: center;
    font-weight: Bold;
    font-size: 12px;
}

.outer-title{
    color: white;
    font-size: 110%;
    width: 40px;
    position: absolute;
    top: 2px;
    left: 4px;
}


.station-icon{
    position: absolute;
    vertical-align: middle;
    top: 16px;
    left: 4px;
    border: 4px solid #9ACD32;
    border-radius: 10%;
    height: 32px;
    width: 32px;
    background: White;
    text-align: center;
    font-weight: Bold;
}

.JY{
    width: 32px;
    height: 12px;
    text-align: center;
    line-height: 12px;
    font-size: 12px;
    color: black;
    position: absolute;
    top: 0.8px;
    left: 0;
}

.station-number{
    width: 32px;
    height: 19.2px;
    text-align: center;
    line-height: 19.2px;
    font-size: 19.2px;
    color: black;
    position: absolute;
    bottom: 0.8px;
    left: 0;
}