.navbar {
  height: 100%;
  padding: 0 5px;
}

.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  gap: clamp(1px, 1vw, 1rem);
  justify-content: flex-end;
  align-items: center;
}

.nav-item {
  position: relative;
}

.nav-clickable-wrapper{
  padding: 1px 4px;
  background: var(--bg-accent-light);
  border-radius: var(--border-radius);
  border: var(--border);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  cursor: pointer;
  transition: filter 300ms;
  height: 100%;
  width: 100%;
}

.nav-clickable-wrapper:hover{
  filter: brightness(1.2);
}

.nav-item .caret {
  height: 100%;
  width: 15px;
}

.flipped {
  transform: rotate(180deg);
}

@media (max-width: 499px) {
  .line-nav-overflow-hidden {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

