.playfield{
  position: relative;
}

.picked-stations-container {
  display: grid;
  position: relative;
  height: 30vh;
  grid-template-columns: repeat(auto-fit, 55px);
  grid-template-rows: repeat(auto-fit, 120px);
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  max-width: 1000px;
}

.arrows-container{
  height: 120px;
  position: relative;
}

.forwards-arrows,
.backwards-arrows {
  height: 92px;
  width: 48px;
  cursor: pointer;
}

.backwards-arrows {
  transform: rotate(180deg) translateX(-10px);
}

.inactive-arrows {
  filter: brightness(40%) grayscale(100%);
}

.icon-holder {
  display: grid;
  gap: 18px;
  grid-template-rows: 60px 2rem;
  max-height: calc(60px + 2rem);
  width: 60px;
  max-height: 120px;
  position: relative;
  justify-items: center;
}

.station-icon-title {
  font-size: clamp(0.8rem, 1.5vw, 0.9rem);
}

.station-icon-title {
  display: inline-block;
  justify-self: center;
  line-height: 0.9em;
  transform:  translateX(-5px) rotate(-45deg);
  /* overflow: hidden; */
  text-overflow: ellipsis;
  max-width: 60px;

  /* word-break: break-word; */
  /* white-space: normal; */
  /* overflow-wrap: break-word; */
  /* height: 2rem; */

  display: -webkit-box;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
  
}

.picked-station-icon {
  justify-self: center;
}

.icon-holder::after {
  content: "";
  width: 12px;
  height: 6px;
  left: 51px;
  background-color: var(--currentline-color);
  position: absolute;
  transform: translateY(37px);
}

.icon-holder::before {
  content: "";
  width: 11px;
  height: 6px;
  left: -2px;
  background-color: var(--currentline-color);
  position: absolute;
  transform: translateY(37px);
  z-index: 2;
}

.far-left-icon::before{
  visibility: hidden;
}

.far-right-icon::after{
  visibility: hidden;
}


@media (max-width: 766px) {
  .picked-stations-container {
    height: 17vh;
  }

  .available-stations-signs{
    max-height: 83vh;
  }

  .forwards-arrows,
  .backwards-arrows {
    width: 40px;
  }
}


@media screen and (max-width: 767px) {
  .ellipsis {
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--currentline-color);
    letter-spacing: -3px;
    margin-bottom: 66px;
    margin-left: 2px;
  }
}